@{
    ViewBag.Title = "Home Page";
}
@*------------------------------------------------------------------Letest Product Section-----------------------------------------------------*@

<section class="rightCartoon">
    <img src="~/Image/Cartoons/RightCartoon.png" />
</section>

<section class="Letest" id="letestB">
    <a href="#latestproduct">
        <img src="~/Image/Banners/Letest.png" />
    </a>
</section>


@*-----------------------------------------------------------------------Offeres Section-----------------------------------------------------------------------*@
<section class="Offers" >
    <a href="#currentoffers">
        <img src="~/Image/Banners/Offeres.png" />
    </a>
</section>
@*-------------------------------------------------------------------------Main Section------------------------------------------------------------------------*@
<main class="Products">
    <section class="AlignProduct" id="latestproduct">
        <p class="HeaderText">CheckOut Our Letest Products:</p>
        <section class="ProductContainer">
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
        </section>
    </section>
</main>

<section class="leftCartoon">
    <img src="~/Image/Cartoons/LeftCartoon.png" />
</section>

<main class="Products">
    <section class="AlignProduct" id="currentoffers">
        <p class="HeaderText">Todays Best Deals:</p>
        <section class="ProductContainer">
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
        </section>
    </section>
</main>

<section class="rightCartoon2">
    <img src="~/Image/Cartoons/RightCartoon.png" />
</section>


<main class="Products">
    <section class="AlignProduct">
        <p class="HeaderText">High Quslity Mats:</p>
        <section class="ProductContainer">
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/10794.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/7e253b0aec11c6ef5908a7b30b5172de.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/american-southwest-floor-rugs.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
            <div class="card">
                <div class="PImage">
                    <img src="~/image/ProductIMG/Indian-Carpets-1_1.png" />
                </div>
                <div class="PDetails">
                    <b>Info</b>
                    <p>Price: 500TK</p>
                </div>
            </div>
        </section>
    </section>
</main>